
<div ng-controller="registerTraining">
	<form ng-submit="postData()">
		Training Name: <input type="text" name="" placeholder="Training Name" 
		ng-model="training.name">
		<br>
		Start Date: <input type="date" name="" ng-model="training.startDate">
		<br>
		<br>
		Vacancy: <input type="number" name="" max="60" min="1" ng-model="training.vacancy">
		<br>
		Location: <input type="text" name="" placeholder="Location" ng-model="training.location">
		<br>
		Start Time: <input type="time" name="" ng-model="training.startTime">
		<br>
		End Time: <input type="time" name="" ng-model="training.endTime">
		<br>
		Duration(In days): <input type="number" name="" min="1" ng-model="training.duration">
		<br>
		Training Executive: <input type="text" name="" placeholder="" ng-model="training.trainingExecutive">
		<br>
		Type: <input type="text" name="" placeholder="Technical or Softskill" ng-model="training.type">
		<br>
		Trainer Name: <input type="text" name="" placeholder="TrainerName" ng-model="training.trainerName">
		<br>
		Nominate: <input type="text" name="" placeholder="emailId or Group" ng-model="training.nominate">
		<br>
		Targeted Audience: <input type="text" name="" placeholder="Targeted Audience" ng-model="training.targetedAudience">
		<br>
		<input type="submit" vlaue="Add Training">
	</form>
</div>